node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Ignorar a pasta lib onde as dependências serão instaladas
#lib/

# Ignorar a pasta out onde os arquivos compilados são armazenados
out/

# Ignorar o cache do Forge
.cache/

# Ignorar arquivos de log
*.log

# Ignorar outras pastas e arquivos temporários
node_modules/
.DS_Store
.env
